

.bg {
    background-image: url("images/Waves-Vector-Pattern.jpg");
    background-size: auto;
}


.h1 {
    border: thick solid #000000;
    background: aliceblue;
    font-style: italic;
    font-family: "Calibri Light", "sans-serif";
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}




.div1 {
    height: 200px;
    width: 200px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background: url("images/rubber-duck.png") no-repeat;
    background-size: 200px 200px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { left:0; top:0;}
    25%  { left:200px; top:0;}
    50%  { left:200px; top:200px;}
    75%  { left:0; top:200px;}
    100% { left:0; top:0;}
}

/* Standard syntax */
@keyframes example {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 200px;
        top: 0;
    }
    50% {
        left: 200px;
        top: 200px;
    }
    75% {
        left: 0;
        top: 200px;
    }
    100% {
        left: 0;
        top: 0;
    }
}